<div class="layout-topbar-item" *ocxIfPermission="'HELP#EDIT'; permissions: permissions">
  <button
    id="ocx_topbar_action_edit_help_item"
    class="layout-topbar-action"
    pRipple
    pButton
    (click)="onEditHelpItem($event)"
    (keydown.enter.t)="onEditHelpItem({})"
    [attr.aria-label]="'HELP_ITEM_EDITOR.LABEL' | translate"
    [pTooltip]="'HELP_ITEM_EDITOR.TOOLTIP' | translate"
    tooltipPosition="bottom"
    tooltipEvent="hover"
  >
    <i id="ocx_topbar_action_edit_help_item_icon" class="pi pi-pencil fs-xlarge" aria-hidden="true"></i>
  </button>
</div>
