<div class="layout-topbar-item" *ocxIfPermission="'HELP#EDIT'; permissions: permissions">
  <button
    id="help-item-editor-button"
    class="layout-topbar-action rounded-circle"
    pRipple
    pButton
    (click)="editHelpPage($event)"
    tooltipPosition="bottom"
    (keydown.enter.t)="onEnterClick()"
    aria-label="'HELP_ITEM_EDITOR.LABEL' | translate"
    [pTooltip]="'GENERAL.TOOLTIPS.HELP_ITEM_EDITOR' | translate"
  >
    <i id="help-item-editor-button-icon" class="pi pi-pencil fs-xlarge" aria-hidden="true"></i>
  </button>
</div>
