@import '/src/app/_hm-mixins.scss';

@include word-break-all;
@include danger-action;
@include table-inline-buttons;
@include table-zebra-rows;
@include table-responsive-columns;
@include dialog-footer-buttons;
@include dialog-non-full-size-modal;
@include correct-file-upload;
@include displaying-text-responsive;
@include listbox-layout;
@include listbox-zebra-rows;

:host ::ng-deep {
  .p-datatable {
    .p-sortable-column .p-sortable-column-icon {
      margin-left: unset;
    }
    .p-datatable-thead > tr > th {
      white-space: nowrap;
      border-bottom-width: 2px;
    }
    .p-datatable-tbody > tr > td {
      min-width: 10rem;
      &:first-of-type {
        min-width: unset;
      }
    }
  }
  // hide unusable stuff
  ocx-column-group-selection,
  ocx-data-view-controls div div button {
    display: none;
  }
  ocx-data-view-controls div {
    justify-content: center !important;
  }

  .text-ellipsis-2-lines {
    @include displaying-text-ellipsis(2);
  }
}
