::ng-deep {
  .ocx-topbar-action .p-button {
    /* embeded BUTTON */
    &.p-button-icon-only.p-button-rounded {
      border-radius: 50%;
      height: 3.2rem;
      width: 3.2rem;
      color: var(--topbar-item-text-color);
      background-color: var(--topbar-bg-color);
      border: none;
      &:hover,
      &:focus {
        border: none;
        color: var(--topbar-item-text-hover-color);
        background-color: var(--topbar-item-text-hover-bg-color);
        transition: background-color var(--p-transition-duration);
      }
      .p-button-icon {
        font-size: 2rem;
      }
    }
  }
}
