.show-help-menu-button:hover,
.show-help-menu-button:focus {
  background-color: var(--topbar-item-text-hover-bg-color);
  color: var(--topbar-item-text-hover-color, var(--topbar-item-text-color));
  transition: background-color var(--transition-duration);
}
.show-help-menu-button {
  background: var(--topbar-bg-color);
}
#show-help-button-icon {
  color: var(--topbar-item-text-color)
}
