<form [formGroup]="formGroup" class="flex flex-column row-gap-4 justify-content-center align-items-center">
  <span class="p-float-label w-full mt-2">
    <input
      class="w-full"
      id="help-item-editor-field-helpitem-id"
      type="text"
      pInputText
      name="helpItemId"
      formControlName="helpItemId"
      [title]="'HELP_ITEM.TOOLTIPS.HELP_ITEM_ID' | translate"
    />
    <label for="help-item-editor-field-helpitem-id">{{ 'HELP_ITEM.HELP_ITEM_ID' | translate }}</label>
  </span>
  <span class="p-float-label w-full">
    <input
      class="w-full"
      id="help-item-editor-field-product-name"
      type="text"
      pInputText
      name="productName"
      formControlName="productName"
      [title]="'HELP_ITEM.TOOLTIPS.APPLICATION_NAME' | translate"
    />
    <label for="help-item-editor-field-product-name"> {{ 'HELP_ITEM.APPLICATION_NAME' | translate }}</label>
  </span>

  <span class="p-float-label w-full">
    <input
      class="w-full"
      id="help-item-editor-field-base-url"
      type="text"
      pInputText
      name="baseUrl"
      formControlName="baseUrl"
      [title]="'HELP_ITEM.TOOLTIPS.BASE_URL' | translate"
    />
    <label for="help-item-editor-field-base-url">{{ 'HELP_ITEM.BASE_URL' | translate }}</label>
  </span>

  <span class="p-float-label w-full">
    <input
      class="w-full"
      id="help-item-editor-field-resource-url"
      type="text"
      pInputText
      name="resourceUrl"
      formControlName="resourceUrl"
      [title]="'HELP_ITEM.TOOLTIPS.RESOURCE_URL' | translate"
    />
    <label for="help-item-editor-field-resource-url">{{ 'HELP_ITEM.RESOURCE_URL' | translate }}</label>
  </span>
</form>
