<form [formGroup]="formGroup" class="p-grid p-fluid help-editor-form">
  <div class="p-col-12">
    <span class="p-float-label">
      <input id="helpItemId" type="text" pInputText name="helpItemId" formControlName="helpItemId" />
      <label for="helpItemId">{{ 'HELP_ITEM_EDITOR.DIALOG.HELP_ITEM_ID' | translate }}</label>
    </span>
  </div>
  <div class="p-col-12">
    <span class="p-float-label">
      <input id="productName" type="text" pInputText name="productName" formControlName="productName" />
      <label for="productName">{{ 'HELP_ITEM_EDITOR.DIALOG.APPLICATION_NAME' | translate }}</label>
    </span>
  </div>
  <div class="p-col-12">
    <span class="p-float-label">
      <input id="resourceUrl" type="text" pInputText name="resourceUrl" formControlName="resourceUrl" />
      <label for="resourceUrl">{{ 'HELP_ITEM_EDITOR.DIALOG.RESOURCE_URL' | translate }}</label>
    </span>
  </div>
</form>
