<form [formGroup]="formGroup" class="flex flex-column row-gap-4 justify-content-center align-items-center">
  <span class="p-float-label w-full mt-2">
    <input
      id="hm_item_editor_field_helpitem_id"
      class="w-full"
      type="text"
      pInputText
      name="helpItemId"
      formControlName="helpItemId"
      [pTooltip]="'HELP_ITEM.TOOLTIPS.HELP_ITEM_ID' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    />
    <label class="ocx-required-label" for="hm_item_editor_field_helpitem_id">
      {{ 'HELP_ITEM.HELP_ITEM_ID' | translate }}</label
    >
  </span>

  <span class="p-float-label w-full">
    <input
      id="hm_item_editor_field_product_name"
      class="w-full"
      type="text"
      pInputText
      name="productName"
      formControlName="productName"
      [pTooltip]="'HELP_ITEM.TOOLTIPS.APPLICATION_NAME' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    />
    <label class="ocx-required-label" for="hm_item_editor_field_product_name">
      {{ 'HELP_ITEM.APPLICATION_NAME' | translate }}</label
    >
  </span>

  <span class="p-float-label w-full">
    <input
      id="hm_item_editor_field_base_url"
      class="w-full"
      type="text"
      pInputText
      name="baseUrl"
      formControlName="baseUrl"
      [pTooltip]="'HELP_ITEM.TOOLTIPS.BASE_URL' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    />
    <label class="ocx-required-label" for="hm_item_editor_field_base_url">
      {{ 'HELP_ITEM.BASE_URL' | translate }}</label
    >
  </span>

  <span class="p-float-label w-full">
    <input
      id="hm_item_editor_field_resource_url"
      class="w-full"
      type="text"
      pInputText
      name="resourceUrl"
      formControlName="resourceUrl"
      [pTooltip]="'HELP_ITEM.TOOLTIPS.RESOURCE_URL' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    />
    <label for="hm_item_editor_field_resource_url">{{ 'HELP_ITEM.RESOURCE_URL' | translate }}</label>
  </span>
</form>
